/* ------------------------------------------------------------------------
   Global styles 

   site-colors
   white
   blue - #008ed6 
   background - #eaf5fb
    
----------------------------------------------------------------------------*/

.App {
  min-height: 100vh;
  background: #eaf5fb;
}

#main-footer {
  border-top: #008ed6 3px solid;
}

.navbar {
  border-bottom: #008ed6 3px solid;
}

.zeus-color {
  background-color: #008ed6;
}

/* ------------------------------------------------------
 LANDING PAGE 
---------------------------------------------------------*/

#featured-tags,
#articles,
#profile,
#featured-new-article {
  padding-top: 40px;
}
#featured-edit-profile,
#profile {
  padding-top: 40px;
}
#featured-new-article,
#articles {
  padding-top: 100px;
}

#featured-tags ul li a {
  text-decoration: none;
}

#featured-welcome {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://source.unsplash.com/5AYP1yeaE3I);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
}
.profile_btn {
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}

.marg-lg-zeus {
  margin-top: 150px;
}

#featured-welcome .card-form {
  opacity: 0.7;
  margin-top: 200px;
}

.margin-down {
  margin-top: 20px;
}

/* ------------------------------------------------------
 REGISTER, LOGIN, PASSWORD RESET PAGES 
---------------------------------------------------------*/

#register,
#login,
#passwordreset {
  padding-top: 100px;
}

#passwordreset .invalid-feedback,
#passwordreset .valid-feedback {
  display: inline-block;
}

.margin-top {
  margin-top: -50px;
}

.nav-tabs .nav-link.active {
  background-color: inherit;
}

#featured-new-article .card-header {
  background-color: #008ed6;
}

.preloader {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 350px;
}
.preloader img {
  width: 200px;
}

.articleNotFound {
  padding-top: 200px;
  padding-bottom: 350px;
  text-align: center;
}

.type {
  margin-top: 0px;
  color: white;
  margin-top: 0.01px;
  margin-right: 1px;
  border-width: 2px;
  width: 80px;
  height: 30px;
  background-color: rgba(100, 100, 101, 0);
}

.submitButton {
  margin-top: 0px;
  color: white;
  height: 30px;
  margin-right: 15px;
  border-width: 2px;
  background-color: rgba(100, 100, 101, 0);
  border-radius: 5px;
}

.search {
  margin-top: 0px;
  color: black;
  height: 30px;
  margin-top: 0.01px;
  border-width: 2px;
  border-radius: 5px;
  margin-right: 1px;
}

.form-row {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;

  border: 1px solid #d6d9dc;
  border-radius: 3px;

  min-height: 200px;
  margin-bottom: 10px;
  width: 100%;
  padding: 7px;
  resize: none;
}

.button {
  font-size: 16px;
  font-weight: bold;

  color: #ffffff;
  background-color: #5995da;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

button:hover {
  background-color: #76aeed;
}

button:active {
  background-color: #407fc7;
}

/* ------------------------------------------------------
 STYLES FOR SPINNER DISPLAYED WHEN MAKING REQUESTS
---------------------------------------------------------*/

#loader-container {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

#loader {
  position: fixed;
  left: 50%;
  top: 30%;
  margin: auto;
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #3498db;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------------------
 STYLES FOR FIELD TO FILTER USER PROFILES
---------------------------------------------------------*/

#filter-users {
  width: 40%;
  margin: auto;
  text-align: center;
  display: none;
  padding: 5px;
  font-size: 15px;
}
